<head>
    <link href="https://fonts.googleapis.com/css2?family=Single+Day&family=Sixtyfour&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="bericht">
            <h3>{{bericht}}</h3>
        </div>
        <div class="content">
            <a [routerLink]="['/']" class="home" href=""><h4>home</h4></a>
            <h2 [routerLink]="['/']" class="titel">SLSL sieraden</h2>
            <a [routerLink]="['/hoebestelik']" class="hoe" href=""><h4>Hoe bestel ik?</h4></a>
            <a [routerLink]="['/overons']" class="over" href=""><h4>over ons</h4></a>
            <a class="mand" href=""><img class="mand-img" src="../../assets/winkelmandje.png" alt=""></a>
        </div>
    </header>
</body>