<body>
    <footer>
        <div class="l">
            <ul>
                <ul>
                    <h4 class="text">Veel gestelde vragen:</h4>
                    <a href=""><li class="vraag">Hoe bestel ik een product?</li></a>
                    <a href=""><li class="vraag">Hoe stuur ik een product retour?</li></a>
                </ul>
            </ul>
        </div>
        <div class="r">
            <ul>
                <a href=""><h4 class="text">retour</h4></a>
                <h4 class="text">contact:</h4>
                <a href=""><li class="mail" href="mailto:contact@slsl-sieraden.nl"></li></a>
            </ul>
        </div>
    </footer>
</body>