<div class="l">
    <ul>
      <li><h4 class="text">Veel gestelde vragen:</h4></li>
      <li class="vraag"><a [routerLink]="['/hoebestelik']">Hoe bestel ik een product?</a></li>
      <li class="vraag">U kunt uw product(en) retour sturen via dit e-mail adres:</li>
      <li class="mail"><a href="mailto:info@slsl-sieraden.nl">{{email}}</a></li>
    </ul>
</div>
<div class="r">
    <ul>
      <li><h4 class="text">Contact:</h4></li>
      <li class="mail"><a href="mailto:info@slsl-sieraden.nl">{{email}}</a></li>
    </ul>
</div>
