<div class="text">
    <h1 class="titel">Hoe bestel ik?</h1>
    <p>Als u bij iets wil bestellen gaat dat nu op een iets andere manier dan op andere webshops. 
        Op onze website is het <b>nog niet</b> mogelijk om te bestellen via het wel bekende winkelmandje, dit wordt later de tijd wel mogelijk gemaakt.
        <br> U kan bestellen door een e-mail te versturen naar <a href="mailto:bestel@slsl-sieraden.nl">bestel@slsl-sieraden.nl</a>, u kunt deze e-mail ook vinden door op de knop <b>Bestellen</b> te drukken bij een gewenst product dat u wil kopen. 
        <br>In de email moet u de naam van het product(en) dat u van plan bent te kopen zetten.
        <br>Zodra u dit heeft gedaan zou er in 1 uur een bevestigings e-mail volgen van ons, hierin zou ook een betaal mogelijkheid gegeven worden via Tikkie.
        <br>Als deze is betaald en dat wordt bevestigd, zullen wij uw gekochten producten versturen en u op de hoogde houden van uw pakket.
        <br>Heeft u toch nog vragen, u kan altijd te recht bij <a href="mailto:info@slsl-sieraden.nl">info@slsl-sieraden.nl</a>
        
    </p>
</div>